In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
687,tt0814022,45000000,42487390,Bangkok Dangerous,Nicolas Cage|Shahkrit Yamnarm|Charlie Yeung|Pa...,Oxide Pang Chun|Danny Pang,There's only one way out.,"When carrying out a hit, assassin Joe (Cage) a...",99,Action|Crime|Thriller,Virtual Studios|Initial Entertainment Group|Sa...,8/21/2008,5.0,2008
1142,tt0317303,60000000,164433867,Daddy Day Care,Eddie Murphy|Jeff Garlin|Steve Zahn|Regina Kin...,Steve Carr,Who's your daddy?,Two men get laid off and have to become stay-a...,92,Comedy|Family,Columbia Pictures|Revolution Studios|Davis Ent...,5/3/2003,5.7,2003
1803,tt0208092,10000000,83557872,Snatch,Jason Statham|Brad Pitt|Vinnie Jones|Dennis Fa...,Guy Ritchie,Stealin' Stones and Breakin' Bones.,The second film from British director Guy Ritc...,103,Thriller|Crime,Columbia Pictures Corporation|SKA Films,9/1/2000,7.5,2000
493,tt1220634,60000000,296221663,Resident Evil: Afterlife,Milla Jovovich|Wentworth Miller|Ali Larter|Kim...,Paul W.S. Anderson,She's back...And she's bringing a few of her f...,"In a world ravaged by a virus infection, turni...",97,Action|Adventure|Horror|Science Fiction,Impact Pictures|Davis-Films|Constantin Film Pr...,9/9/2010,5.8,2010
1297,tt1905041,160000000,788679850,Fast & Furious 6,Paul Walker|Vin Diesel|Dwayne Johnson|Jordana ...,Justin Lin,All roads lead to this,Hobbs has Dominic and Brian reassemble their c...,130,Action|Thriller|Crime,Universal Pictures|Original Film|One Race Prod...,5/6/2013,6.6,2013

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # Создадим словарь для ответов

In [5]:
# Предобработки колонок:

data['release_date'] = pd.to_datetime(data['release_date'])  
            # Преобразуем дату

data["profit"] = data['revenue'] - data['budget'] 
            # Создаем новое значение/столбец - "profit" которое будет показывать прибыль фильмов


# Создадим функцию для подсчета каждого элемента в колонке, когда в ячейке несколько элементов

def counter(movie_bd, x): # movie_bd - датафрейм/наше заданое условие, x = колонка датафрейма
    data_plot=movie_bd[x].str.cat(sep='|') # создаём строку  со значениями из колонки x, с разделителем '|'
    dat=pd.Series(data_plot.split('|')) # преоброзуем строку в серию по розделителю '|'
    info=dat.value_counts(ascending=False) # считаем количество элементов в серии
    return info

            # ==   то же самое, в компактной записи 

def counter(movie_bd, x):
    """создали функцию для посчета каждого элемента в колонке"""
    info = movie_bd[x].str.split('|', expand=True).stack().value_counts()
    return info

# genre = data['genres'].str.split('|', expand=True).stack().value_counts() 
            # Разделили значения в "genres" по жанрам и посчитали количество жанров

# data['imdb_id'] = data.imdb_id.str.replace('tt','')  
            # Удаляем из imdb_id лишнее tt,но не стала этого делать тк в задании ответы идут с 'tt'

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides(tt1298650)' 
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides(tt1298650)'
# +

In [8]:
# тут пишем ваш код для решения данного вопроса:
budget = data['budget'].max()
budget

380000000

In [9]:
data.loc[(data['budget'] == 380000000 )]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [10]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2.Gods and Generals(tt0279111)'
# +

In [12]:
runtime = data['runtime'].max()
runtime

214

In [13]:
data.loc[(data['runtime'] == 214)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

ВАРИАНТ 2

In [14]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [15]:
answers ['3'] = '3. Winnie the Pooh (tt1449283)' 
# +

In [16]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

ВАРИАНТ 2

In [17]:
runtime = data['runtime'].min()
runtime

63

In [18]:
data.loc[(data['runtime'] == 63)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [19]:
answers ['4'] = '2.110'
# +

In [20]:
data['runtime'].mean()

109.6585494970884

ВАРИАНТ 2

In [21]:
mean_film = round(data['runtime'].mean())
print(mean_film)

110

# 5. Каково медианное значение длительности фильмов?

In [22]:
answers ['5'] = '1.107' 
# +

In [23]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [24]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data["profit"] = data['revenue'] - data['budget']

In [25]:
answers ['6'] = '5.Avatar(tt0499549)' 
# +

In [26]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

ВАРИАНТ 2

In [27]:
data['profit'].max()

2544505847

In [28]:
data.loc[(data['profit'] == 2544505847)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

ВАРИАНТ 3

In [29]:
data.sort_values(by=['profit'],ascending=False).head(1)[['original_title','imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [30]:
answers ['7'] = '5.The Lone Ranger(tt1210819)' 
# +

In [31]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

ВАРИАНТ 2

In [32]:
data.sort_values(by=['profit']).head(1)[['original_title','imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [33]:
answers ['8'] = '1.1478'
# +

In [34]:
hight_profit = data.query('profit>0')
len(hight_profit)

1478

ВАРИАНТ 2

In [35]:
len(data[data['profit'] > 0])

1478

ВАРИАНТ 3

In [36]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [37]:
answers ['9'] = '4.The Dark Knight(tt0468569)'
# +

In [38]:
data.loc[data.release_year == 2008].sort_values(by='profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

ВАРИАНТ 2

In [39]:
data.loc[data.release_year==2008] \
        .sort_values(by='profit',ascending=False) \
        .head(1)['original_title'].values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [40]:
answers ['10'] = '5.The Lone Ranger(tt1210819)'
# +

In [41]:
data[(data.release_year > 2012) & (data.release_year <= 2014)] \
    .sort_values('profit',ascending=True) \
    .head(1)['original_title'].values[0]

'The Lone Ranger'

ВАРИАНТ 2

In [42]:
data.loc[(data.release_year > 2012) & (data.release_year <= 2014)] \
        [['imdb_id', 'revenue', 'profit','original_title']] \
        .sort_values('profit',ascending=True).head(1)

        imdb_id   revenue     profit   original_title
1245  tt1210819  89289910 -165710090  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
если будешь добавлять функцию - выноси ее в предобработку что в начале

In [43]:
answers ['11'] = '3.Drama'
# +

In [44]:
data['genres'].unique()

array(['Action|Adventure|Science Fiction|Thriller',
       'Adventure|Science Fiction|Thriller',
       'Action|Adventure|Science Fiction|Fantasy',
       'Action|Crime|Thriller', 'Western|Drama|Adventure|Thriller',
       'Science Fiction|Action|Thriller|Adventure',
       'Drama|Adventure|Science Fiction',
       'Family|Animation|Adventure|Comedy', 'Comedy|Animation|Family',
       'Action|Adventure|Crime',
       'Science Fiction|Fantasy|Action|Adventure',
       'Drama|Science Fiction', 'Action|Comedy|Science Fiction',
       'Action|Adventure|Science Fiction', 'Crime|Drama|Mystery|Western',
       'Crime|Action|Thriller', 'Science Fiction|Action|Adventure',
       'Romance|Fantasy|Family|Drama', 'War|Adventure|Science Fiction',
       'Action|Family|Science Fiction|Adventure|Mystery', 'Action|Drama',
       'Action|Drama|Thriller', 'Drama|Romance', 'Comedy|Drama', 'Action',
       'Comedy', 'Crime|Comedy|Action|Adventure',
       'Drama|Thriller|History', 'Action|Science Fiction|Thriller',
       'Crime|Action|Science Fiction', 'Comedy|Music', 'Thriller|Drama',
       'Adventure|Horror|Comedy', 'Drama|Thriller',
       'Adventure|Animation|Comedy|Family|Fantasy',
       'Action|Crime|Drama|Mystery|Thriller', 'Drama|Music',
       'Fantasy|Action|Adventure', 'Comedy|Action|Adventure',
       'Fantasy|Drama|Romance',
       'Fantasy|Comedy|Animation|Science Fiction|Family',
       'Drama|Mystery|Romance', 'Romance|Drama', 'Adventure|Drama',
       'Drama', 'Science Fiction|Mystery|Thriller', 'Comedy|Adventure',
       'Mystery|Crime|Action|Thriller|Drama', 'Action|Comedy|Crime',
       'Romance|Comedy|Crime|Drama',
       'Thriller|Drama|Adventure|Action|History', 'Drama|Thriller|War',
       'Crime|Thriller', 'Adventure|Family|Fantasy',
       'Adventure|Animation|Comedy|Family', 'Animation|Comedy|Family',
       'Family|Comedy', 'Adventure|Drama|Thriller', 'Adventure|Comedy',
       'Horror|Thriller', 'Thriller|Mystery',
       'Adventure|Animation|Fantasy', 'Romance|Comedy', 'Horror',
       'Action|Adventure|Comedy|Family', 'Crime|Drama',
       'Horror|Comedy|Fantasy', 'Action|Thriller',
       'Science Fiction|Thriller', 'Thriller|Action|Crime',
       'Mystery|Thriller|Fantasy|Horror|Drama', 'Comedy|Drama|Music',
       'Crime|Drama|Mystery', 'Family|Animation',
       'Adventure|Drama|Family', 'Action|Drama|Crime',
       'Action|Crime|Comedy', 'Drama|Horror|Thriller',
       'Drama|Science Fiction|Thriller', 'Drama|Comedy', 'Drama|History',
       'Drama|Music|Romance', 'Comedy|Drama|War',
       'Adventure|Comedy|Romance', 'Comedy|Music|War',
       'Drama|Adventure|Comedy', 'Drama|Music|Adventure|Fantasy',
       'Adventure|Drama|Science Fiction',
       'Action|Science Fiction|Adventure',
       'Science Fiction|Adventure|Thriller', 'Adventure|Fantasy',
       'Adventure|Family|Animation|Action|Comedy',
       'History|Drama|Thriller|War',
       'Action|Mystery|Science Fiction|Thriller',
       'Mystery|Thriller|Drama', 'War|Drama|Action',
       'Adventure|Comedy|Fantasy|Family',
       'Action|Adventure|Fantasy|Science Fiction',
       'Action|Science Fiction',
       'Science Fiction|Action|Adventure|Fantasy|Comedy',
       'Crime|Drama|Thriller', 'Science Fiction|Action|Drama|Thriller',
       'Action|Adventure|Fantasy', 'Action|Comedy', 'War|Action',
       'Adventure|Drama|Action',
       'Fantasy|Adventure|Action|Family|Romance',
       'Fantasy|Action|Adventure|Animation|Comedy',
       'Action|Adventure|Thriller',
       'Adventure|Fantasy|Animation|Comedy|Action',
       'Horror|Action|Drama|Fantasy|War', 'Fantasy|Comedy|Music',
       'Action|War', 'Crime|Comedy|Action',
       'Crime|Drama|Mystery|Thriller', 'Thriller|Action|Science Fiction',
       'Action|Thriller|Crime|Drama', 'Action|Adventure',
       'Drama|Adventure', 'Romance|Drama|Music',
       'Comedy|Romance|Crime|Drama|Mystery', 'Action|Thriller|Mystery',
       'Science Fiction|Action', 'Thriller|Science Fiction|Drama|Mystery',
       'Comedy|Romance', 'Animation|Adventure|Family',
       'Animation|Adventure|Comedy|Family', 'War|Drama|History|Action',
       'Drama|War', 'History|Drama',
       'Action|Adventure|History|Romance|Drama',
       'Music|Comedy|Drama|Family', 'Action|Crime|Drama|Thriller',
       'Animation|Comedy|Family|Fantasy', 'Thriller|Action',
       'Animation|Comedy|Adventure|Family', 'Action|Drama|Thriller|Crime',
       'Thriller', 'Drama|Romance|War', 'Action|Crime|Drama',
       'Drama|Fantasy|Mystery|Romance', 'Mystery|Thriller|Action',
       'War|Drama', 'Thriller|Science Fiction|Drama',
       'Comedy|Drama|Crime', 'Thriller|Crime|Drama|Mystery',
       'Family|Drama', 'Comedy|Adventure|Crime|Family',
       'Family|Adventure|Science Fiction', 'Thriller|Crime|Drama',
       'Drama|Action|Thriller|War',
       'Fantasy|Action|Adventure|Science Fiction|Thriller',
       'Adventure|Fantasy|Family', 'Animation|Comedy|Family|Adventure',
       'Drama|Action|Thriller|Science Fiction',
       'Action|Thriller|Science Fiction',
       'Adventure|Drama|Action|Comedy|Thriller', 'Comedy|Drama|Romance',
       'Action|Mystery|Science Fiction',
       'Action|Adventure|Animation|Science Fiction|Thriller',
       'Romance|Family|Animation|Music', 'Comedy|Horror',
       'Adventure|Fantasy|Drama|Romance', 'Comedy|Romance|Drama',
       'Adventure|Action|Thriller|Science Fiction', 'Animation|Family',
       'Adventure|Fantasy|Action|Comedy|Family', 'Animation|Drama',
       'Fantasy|Drama', 'Drama|Family', 'Drama|Crime|Thriller',
       'Thriller|Science Fiction', 'Action|Thriller|Crime',
       'Action|Horror|Mystery|Science Fiction|Thriller',
       'Action|Adventure|Drama|Mystery|Science Fiction',
       'Science Fiction|Drama', 'Fantasy|Action|Adventure|Family|Comedy',
       'Thriller|Drama|Crime', 'Comedy|Romance|Fantasy',
       'Science Fiction|Drama|Romance|Fantasy',
       'Animation|Family|Adventure|Science Fiction',
       'Drama|Thriller|Mystery', 'History|Crime|Drama',
       'Horror|Thriller|Mystery', 'Horror|Mystery',
       'Comedy|Family|Animation|Fantasy|Music',
       'Comedy|Crime|Drama|Thriller',
       'Adventure|Family|Fantasy|Science Fiction|Thriller',
       'Horror|Mystery|Thriller',
       'Fantasy|Horror|Action|Thriller|Science Fiction',
       'Drama|History|Romance', 'Thriller|Mystery|Adventure',
       'Action|Crime|Mystery|Thriller', 'Action|Adventure|Drama|Thriller',
       'Drama|Comedy|Romance', 'Comedy|War', 'Comedy|Drama|Family|Music',
       'Adventure|Comedy|Science Fiction',
       'Science Fiction|Animation|Family|Comedy|Adventure',
       'Mystery|Horror', 'Comedy|Family', 'Adventure|Drama|History',
       'Drama|Crime', 'Adventure|Fantasy|Action|Thriller',
       'Animation|Action|Family|Science Fiction', 'Drama|Thriller|Crime',
       'Documentary', 'Comedy|Drama|Family|Music|Romance',
       'Adventure|Comedy|Family|Fantasy|Science Fiction',
       'Thriller|Crime|Drama|Action',
       'Adventure|Fantasy|Action|Science Fiction',
       'Action|Thriller|Science Fiction|Mystery|Adventure',
       'Adventure|Action|Science Fiction', 'Family|Fantasy|Adventure',
       'Drama|Mystery|Thriller', 'Action|Animation|Family',
       'Fantasy|Adventure|Animation|Family', 'Animation|Family|Comedy',
       'Action|Thriller|Crime|Mystery', 'Action|Crime',
       'Action|Thriller|Romance', 'Adventure|Fantasy|Action|Romance',
       'Drama|Adventure|Western', 'Adventure|Fantasy|Action',
       'Fantasy|Adventure|Action|Comedy|Drama', 'Action|Adventure|Comedy',
       'Action|Science Fiction|Adventure|Thriller',
       'Comedy|Adventure|Fantasy|Animation|Family',
       'Thriller|Action|Adventure|Comedy|Crime',
       'Action|Adventure|Comedy|Crime|Thriller', 'Action|Comedy|Thriller',
       'Animation|Action|Comedy|Family|Science Fiction',
       'Action|Adventure|Family|Fantasy', 'Drama|Adventure|History',
       'Action|Science Fiction|Thriller|Crime', 'Fantasy|Horror|Thriller',
       'Horror|Crime', 'Action|Adventure|Drama|Family',
       'Romance|Drama|Thriller|Crime',
       'Action|Western|Drama|Fantasy|Thriller', 'Horror|Comedy',
       'Action|Comedy|Thriller|Romance', 'Fantasy|Comedy',
       'Science Fiction|Comedy|Adventure', 'Drama|Horror|Mystery',
       'Animation|Adventure|Family|Fantasy',
       'Drama|Romance|Science Fiction', 'Drama|Action|Thriller',
       'Comedy|Family|Fantasy', 'Science Fiction', 'Action|Comedy|Family',
       'Drama|Fantasy', 'Drama|Horror|Mystery|Thriller',
       'Crime|Drama|History', 'Mystery|Horror|Action',
       'Comedy|Family|Animation|Adventure', 'Action|Adventure|Drama',
       'Action|Comedy|Horror|Mystery|Science Fiction', 'Comedy|Thriller',
       'Action|Adventure|Horror|Science Fiction',
       'Drama|Comedy|Romance|Foreign', 'Thriller|Drama|Mystery',
       'Fantasy|Animation|Family|Comedy',
       'Drama|Science Fiction|Adventure', 'Thriller|Crime',
       'History|Romance|War', 'Action|Adventure|Drama|Fantasy|Horror',
       'Comedy|Family|Romance',
       'Thriller|Science Fiction|Action|Adventure', 'War',
       'Action|History|War', 'Adventure|Drama|Romance|Action',
       'Action|Comedy|Crime|Thriller', 'Horror|Drama|Mystery|Thriller',
       'Adventure|Fantasy|Animation|Action|Comedy',
       'Drama|Mystery|Romance|Science Fiction|Thriller',
       'Adventure|Action|Animation|Fantasy|Science Fiction',
       'Drama|Thriller|Mystery|Romance', 'Comedy|Family|Romance|Fantasy',
       'Action|Drama|Thriller|War', 'Crime|Mystery|Thriller|Action',
       'Horror|Science Fiction', 'Action|Comedy|Crime|Romance',
       'Music|Drama|Comedy', 'Drama|Romance|Thriller', 'Drama|Mystery',
       'Mystery|Adventure|Comedy|Romance|Drama',
       'Action|Adventure|Comedy|Thriller|Crime',
       'Action|Horror|Science Fiction', 'Comedy|Romance|Crime',
       'Adventure|Animation|Action|Comedy|Family',
       'Drama|Family|Romance|Music', 'Action|Comedy|Family|Adventure',
       'Action|Western', 'Crime|Drama|Thriller|Horror',
       'Mystery|Thriller|Crime', 'Comedy|Family|Fantasy|Science Fiction',
       'Crime|Comedy', 'Action|Horror|Thriller', 'Drama|Comedy|Crime',
       'Drama|Action|Crime|Thriller', 'Adventure|Action',
       'Adventure|Action|Thriller|Crime',
       'Fantasy|Drama|Thriller|Mystery|Romance',
       'Adventure|Fantasy|Science Fiction',
       'Action|Science Fiction|Adventure|Comedy|Family',
       'Action|Adventure|Thriller|Crime', 'Drama|Thriller|History|War',
       'Adventure|Action|Drama|Fantasy', 'Fantasy|Action',
       'Music|Drama|Romance', 'Animation|Family|Adventure|Comedy',
       'Drama|Action', 'Fantasy|Comedy|Family|Romance',
       'Drama|Action|Thriller|Crime', 'Comedy|Drama|Music|Romance',
       'Horror|Thriller|Crime', 'Family|Action|Science Fiction',
       'Animation|Comedy|Family|Adventure|Fantasy',
       'Action|Adventure|Crime|Drama|Thriller', 'Thriller|Crime|Mystery',
       'Comedy|Action', 'Action|Drama|History|War',
       'Thriller|Horror|Mystery', 'Fantasy|Action|Science Fiction',
       'Drama|Mystery|Science Fiction|Thriller',
       'Drama|Thriller|Crime|Mystery',
       'Action|Comedy|Thriller|Crime|Science Fiction',
       'Adventure|Fantasy|Drama|Science Fiction|Romance',
       'Adventure|Comedy|Family', 'Adventure|Comedy|Drama|Romance',
       'Comedy|Science Fiction|Adventure|Family',
       'Horror|Science Fiction|Thriller',
       'Mystery|Drama|Crime|Thriller|Horror',
       'Adventure|Comedy|Family|Fantasy', 'Adventure|Action|Fantasy',
       'Thriller|Action|Drama|Science Fiction',
       'Fantasy|Thriller|Action|Crime',
       'Thriller|Science Fiction|Mystery', 'Action|Thriller|Adventure',
       'Thriller|Crime|Mystery|Drama', 'Thriller|Mystery|Science Fiction',
       'Comedy|Crime', 'Action|Science Fiction|Drama',
       'Adventure|Action|Crime|Mystery',
       'Adventure|Animation|Action|Family|Mystery',
       'Action|Fantasy|Thriller', 'Adventure|Fantasy|Romance',
       'Action|Thriller|Science Fiction|Adventure',
       'Comedy|Romance|Family', 'Action|Science Fiction|Thriller|Western',
       'Animation|Comedy|Family|Western|Adventure',
       'Drama|Thriller|Horror', 'Adventure|Action|Thriller|Comedy',
       'Action|Fantasy|Horror|Science Fiction|Thriller',
       'Thriller|Action|Mystery', 'Action|Mystery|Thriller',
       'Thriller|Romance|Fantasy', 'Fantasy|Action|Drama',
       'Drama|Comedy|Family', 'Horror|Action|Thriller|Science Fiction',
       'Thriller|Drama|Horror',
       'Action|Adventure|Animation|Family|Fantasy',
       'Crime|Adventure|Action|Comedy|Thriller',
       'Drama|Thriller|Science Fiction', 'Drama|Fantasy|Romance',
       'Horror|Science Fiction|Mystery|Thriller',
       'Adventure|Fantasy|Action|Comedy',
       'Horror|Thriller|Science Fiction', 'Music|Family|Animation|Comedy',
       'Adventure|Animation|Family',
       'Comedy|Fantasy|Family|Music|Animation',
       'Animation|Family|Adventure|Comedy|Fantasy', 'Animation',
       'Action|Comedy|Thriller|Crime', 'Comedy|Family|Music',
       'Drama|Crime|History', 'Action|Comedy|Adventure',
       'Drama|Action|Thriller|Crime|War',
       'Drama|Thriller|Science Fiction|Mystery',
       'Documentary|Music|Family', 'Action|Drama|Mystery|Thriller',
       'Horror|Action|Science Fiction',
       'Action|Adventure|Comedy|Science Fiction',
       'Action|Thriller|Science Fiction|Mystery',
       'Adventure|Animation|Family|Fantasy|Science Fiction',
       'Adventure|Action|Thriller',
       'Science Fiction|Horror|Action|Thriller', 'Drama|History|Crime',
       'Family|Adventure|Animation|Comedy', 'Drama|Family|Romance',
       'Action|Thriller|Drama',
       'Science Fiction|Action|Adventure|Thriller',
       'Science Fiction|Comedy|Crime|Action', 'Fantasy|Comedy|Family',
       'Crime|Mystery|Thriller', 'Mystery|Adventure|Comedy',
       'Western|Animation|Adventure|Comedy|Family',
       'Action|Fantasy|Adventure', 'Action|Adventure|Comedy|Thriller',
       'Comedy|Crime|Drama', 'Science Fiction|Adventure|Action',
       'Drama|Action|History|War', 'Action|Adventure|Crime|Thriller',
       'Thriller|Drama|History', 'Drama|Fantasy|Horror',
       'Adventure|Fantasy|Animation|Family',
       'Action|Comedy|Crime|Drama|Music', 'Thriller|Crime|Romance',
       'Action|Fantasy|Science Fiction|Thriller',
       'Drama|Mystery|Thriller|Crime', 'Adventure',
       'Drama|Science Fiction|Mystery|Romance',
       'War|Adventure|Drama|Romance', 'Drama|Mystery|Thriller|Horror',
       'Comedy|Crime|Drama|Romance|Thriller',
       'Adventure|Family|Science Fiction|Thriller',
       'Action|Adventure|Comedy|Drama|Family', 'Crime|Thriller|Horror',
       'Drama|Romance|Comedy|Music', 'Fantasy|Action|Horror',
       'Drama|Western', 'Science Fiction|Adventure|Mystery',
       'Animation|Adventure|Comedy|Family|Action',
       'Adventure|Fantasy|Drama', 'Comedy|Fantasy',
       'Family|Animation|Comedy|Adventure', 'Comedy|Music|Romance',
       'Science Fiction|Adventure|Fantasy', 'Fantasy|Animation|Family',
       'Action|Horror|Fantasy', 'Romance|Science Fiction|Drama|Fantasy',
       'Thriller|Action|Adventure|Science Fiction',
       'Adventure|Fantasy|Drama|Comedy|Science Fiction',
       'Science Fiction|Drama|Thriller', 'Action|Thriller|War',
       'Romance|Comedy|Drama', 'Thriller|Action|Drama|Crime',
       'Animation|Adventure|Family|Comedy', 'Comedy|Crime|Thriller',
       'Adventure|Drama|Romance', 'Horror|Thriller|Comedy',
       'War|Action|Thriller|Science Fiction',
       'Action|Comedy|Thriller|Crime|Romance',
       'Drama|Action|Adventure|History|War', 'Documentary|Music',
       'Fantasy|Action|Thriller', 'Romance|Comedy|Family|Fantasy',
       'Fantasy|Action|Crime|Science Fiction|Thriller',
       'Fantasy|Action|Thriller|Science Fiction',
       'Family|Animation|Adventure', 'Adventure|Action|Comedy', 'Music',
       'Drama|Action|War|History',
       'Adventure|Action|Comedy|Thriller|Crime',
       'Action|Adventure|Fantasy|Thriller', 'Mystery|Thriller',
       'Action|Thriller|Adventure|Science Fiction',
       'Action|Adventure|Comedy|Western', 'Action|Drama|War',
       'Action|Adventure|Mystery|Science Fiction|Thriller',
       'Action|Adventure|Comedy|Crime',
       'Thriller|Fantasy|Comedy|Family|Mystery', 'Comedy|Drama|Family',
       'Action|Drama|Mystery|Thriller|Crime',
       'Adventure|Action|Comedy|Thriller', 'Western',
       'Comedy|Adventure|Family', 'Drama|Horror|Science Fiction|Thriller',
       'Action|Adventure|Comedy|Family|Science Fiction',
       'Action|Comedy|Romance|Thriller',
       'Drama|Fantasy|Horror|Mystery|Romance', 'Crime|Comedy|Romance',
       'Drama|History|War', 'Horror|Action|Thriller',
       'Drama|Thriller|Crime|Romance', 'Family|Documentary',
       'Adventure|Action|Science Fiction|Thriller',
       'Science Fiction|Thriller|Drama',
       'Science Fiction|Thriller|Action|Adventure', 'Crime|Drama|Comedy',
       'Action|Science Fiction|Adventure|Mystery',
       'Romance|Science Fiction|Drama', 'Science Fiction|Action|Thriller',
       'Action|Drama|Horror|Science Fiction|Thriller',
       'Adventure|Comedy|Drama|Fantasy',
       'Action|Crime|Drama|Comedy|Thriller', 'Horror|Comedy|Romance',
       'Fantasy|Horror|Action', 'Action|Adventure|Drama|Mystery|Romance',
       'Fantasy|Action|Comedy|Crime', 'Drama|Horror',
       'Comedy|Music|Romance|Drama', 'Action|Family|Fantasy',
       'Crime|Thriller|Drama', 'Comedy|Drama|History',
       'Action|Adventure|Western', 'Crime|Drama|Action|Thriller',
       'Fantasy|Adventure|Family', 'Thriller|Crime|Action',
       'Action|Adventure|Romance|Science Fiction|Thriller',
       'Drama|Thriller|Mystery|Action',
       'Animation|Comedy|Adventure|Family|Science Fiction', 'Romance',
       'Drama|Romance|Crime|Mystery', 'Animation|Family|Adventure',
       'Fantasy|Family|Comedy|Animation',
       'Action|Science Fiction|Adventure|Fantasy', 'Music|Drama',
       'Animation|Music|Family', 'Action|Thriller|Fantasy',
       'Adventure|Comedy|Family|Science Fiction',
       'Action|Comedy|Drama|Family|Thriller',
       'Adventure|Thriller|Science Fiction',
       'Action|Thriller|Adventure|Crime',
       'Animation|Comedy|Family|Science Fiction',
       'Action|Crime|Adventure', 'Action|Comedy|Drama|Thriller',
       'Action|Adventure|Drama|Western',
       'Romance|Fantasy|Animation|Music',
       'Drama|Mystery|Thriller|Fantasy', 'Comedy|Fantasy|Romance',
       'Comedy|Family|Adventure|Fantasy|Romance', 'Romance|Drama|History',
       'Action|Adventure|Science Fiction|Thriller|Horror',
       'Adventure|Fantasy|Action|Comedy|Thriller',
       'Mystery|Drama|Thriller|Crime', 'Drama|Action|History|Thriller',
       'Crime|Drama|Horror|Thriller', 'Horror|Thriller|Drama',
       'Comedy|Drama|Mystery|Romance', 'Romance|Comedy|Family',
       'Comedy|Family|Adventure|Romance',
       'Thriller|Science Fiction|Adventure|Action',
       'Action|Adventure|Fantasy|Horror',
       'Action|Adventure|Comedy|Drama|Mystery',
       'Action|Comedy|Crime|Drama|Thriller',
       'Action|Adventure|Drama|History|War',
       'Adventure|Fantasy|Action|Family',
       'Adventure|Crime|Drama|Mystery|Western',
       'Action|Fantasy|Horror|Thriller', 'Thriller|Horror|Drama|Mystery',
       'Action|Adventure|Horror|Thriller',
       'Fantasy|Action|Science Fiction|Thriller',
       'Music|Drama|Romance|Crime', 'Animation|Family|Comedy|Adventure',
       'Action|Adventure|Comedy|Family|Fantasy',
       'Comedy|Drama|Fantasy|Romance', 'Crime|Fantasy|Drama',
       'Drama|Thriller|Action', 'Comedy|Drama|Family|Romance',
       'Drama|Adventure|Science Fiction|Romance',
       'Music|Animation|Comedy|Family', 'Fantasy|Action|Adventure|Family',
       'Romance|Drama|Mystery', 'Thriller|Action|Adventure|Drama',
       'Fantasy|Adventure|Animation|Comedy|Family',
       'Comedy|Drama|Family|Fantasy|Romance', 'War|Drama|History',
       'Comedy|Family|Adventure', 'Fantasy|Drama|Thriller|Romance',

In [45]:
genre = data['genres'].str.split('|', expand=True).stack().value_counts()
genre

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [46]:
data.genres = data.genres.apply(lambda x: x.split('|')) # С помощью lambda функции разбили значения по '|' 
data_genres = data.explode('genres') # Возвращаем массив строк сформированной путем разделения ее на границах, образованных разделителем строк.
data_genres['genres'].describe(include=['object']).top

'Drama'

ВАРИАНТ 3

In [47]:
data = pd.read_csv('movie_bd_v5.csv')

def counter(movie_bd, x):
    """создали функцию для посчета того что нам нужно, где movie_bd = data и х = столбец 'genres' """
    info = movie_bd[x].str.split('|', expand=True).stack().value_counts()
    return info

top_genre = counter(data,'genres')

top_genre

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [48]:
answers ['12'] = '1.Drama'
# +

In [49]:
data = pd.read_csv('movie_bd_v5.csv')
data["profit"] = data['revenue'] - data['budget']

positive_profit = data[data.profit>0]
genres_profit = positive_profit.genres.str.split('|',expand=True).stack().value_counts()
genres_profit

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

ВАРИАНТ 2

In [50]:
data_profit = data.query('profit>0')
data_profit['genres'].str.split('|').explode().value_counts().head(1)

Drama    560
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [51]:
answers ['13'] = '5.Peter Jackson'
# +

In [52]:
max_revenue_director = pd.DataFrame(data.groupby(by='director') \
                      .revenue.sum()).sort_values('revenue', ascending = False)
display(max_revenue_director)

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[957 rows x 1 columns]

ВАРИАНТ 2

In [ ]:
# Наша функция counter возвращает нам словарь, а как мы помним индексы у словаря уникальны что позволит нам 
# 1. Сразу получить список режисеров без дублей (directors.index)/сумм для каждого режиссера
# 2. Заполнить значение словаря нужными нам показателем
# Если конкретный директор director есть в строке, то в эту строку ставим True - т.е. 1, если нет, то False - 0
# генерит серию с 0 и 1, где 1 в строках, в которых есть нужный режиссер
for director in directors.index:
    directors[director] = data['revenue'][data['director'].map(lambda x: True if director in x else False)].sum()

In [53]:
def counter(movie_bd, x):
    """создали функцию для посчета того что нам нужно , где movie_bd = data, х = director"""
    info = movie_bd[x].str.split('|', expand=True).stack().value_counts()
    return info

sum_director = counter(data,'director')

for director in sum_director.index:
    sum_director[director] = data['revenue'][data['director'].map(lambda x: True if director in x else False)].sum()
    
sum_director = pd.DataFrame(sum_director).sort_values(0,ascending=False) 
            # Создали датафрейм сумм и отсортировали значения для каждого режисера     

sum_director

                            0
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[997 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [54]:
answers ['14'] = '3.Robert Rodriguez'
# +

In [55]:
# Функция не может работать с NaN, необходимо использовать параметр na = False:
action = data[data.genres.str.contains("Action", na=False)]
action_director_top = action['director'].str.split('|', expand=True).stack().value_counts()
action_director_top

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
John Luessenhop       1
Oliver Parker         1
John Carpenter        1
Michael Davis         1
Jason Eisener         1
Length: 364, dtype: int64

ВАРИАНТ 2

In [56]:
data[data.genres.str.contains("Action",na=False)] \
                ['director'].str.split('|',expand=True).stack().value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
John Luessenhop       1
Oliver Parker         1
John Carpenter        1
Michael Davis         1
Jason Eisener         1
Length: 364, dtype: int64

ВАРИАНТ 3

In [57]:
def counter(movie_bd, x):
    """создали функцию для посчета того что нам нужно , где movie_bd = data_tmp, х = director"""
    info = movie_bd[x].str.split('|', expand=True).stack().value_counts()
    return info

data_tmp = data[data.genres.str.contains("Action")]
sum_gen=counter(data_tmp,'director')
sum_gen

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
John Luessenhop       1
Oliver Parker         1
John Carpenter        1
Michael Davis         1
Jason Eisener         1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [58]:
answers ['15'] = '3.Chris Hemsworth'
# +

In [59]:
def counter(movie_bd, x):
    """создали функцию для посчета того что нам нужно"""
    info = movie_bd[x].str.split('|', expand=True).stack().value_counts()
    return info

top_cast_year = counter(data,'cast') 

for cast in top_cast_year.index:
    top_cast_year[cast] = data['revenue'] \
                          [data.release_year==2012] \
                          [data['cast'].map(lambda x: True if cast in x else False)].sum()
    
top_cast_year = pd.DataFrame(top_cast_year).sort_values(0,ascending=False)
            # Создали датафрейм сумм с сортировкой для каждого актера      

top_cast_year

                          0
Chris Hemsworth  2027450773
Denis Leary      1629460639
Anne Hathaway    1522851057
Mark Ruffalo     1519557910
Chris Evans      1519557910
...                     ...
Sophia Bush               0
Penelope Wilton           0
Jimmi Simpson             0
Powers Boothe             0
Martin Starr              0

[3406 rows x 1 columns]

ВАРИАНТ 2

In [60]:
revenue_top = data[(data.release_year == 2012)]
revenue_top.cast = revenue_top.cast.apply(lambda x: x.split('|'))
top_cast = revenue_top.explode('cast')
top_cast.groupby(by='cast').revenue.sum().sort_values(ascending=False)

C:\Users\SVF13N12SHS\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [61]:
answers ['16'] = '3.Matt Damon'
# +

In [62]:
def counter(movie_bd, x):
    """создали функцию для посчета того что нам нужно , где movie_bd = budget_top, х = cast"""
    info = movie_bd[x].str.split('|', expand=True).stack().value_counts()
    return info

budget_top = data[data.budget > data['budget'].mean()].sort_values(by='budget',ascending=True) 
            # Создали условие, в котором определили бюджет выше среднего
cast_top = counter(budget_top,'cast') 
            # С помощью функции counter посчитали актеров в высокобюджетных фильмах
cast_top

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Tom Cruise               15
Samuel L. Jackson        15
                         ..
Jessica Brown Findlay     1
LeVar Burton              1
Kevin Pollak              1
Violante Placido          1
Dakota Blue Richards      1
Length: 1505, dtype: int64

ВАРИАНТ 2

In [63]:
top_budget = data[data.budget > data['budget'].mean()]
cast_top = top_budget['cast'].str.split('|', expand=True).stack().value_counts()
cast_top

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
                     ..
Kathleen Turner       1
Gaia Weiss            1
Collin Chou           1
George Takei          1
Sebastian Koch        1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [64]:
answers ['17'] = '2.Action'
# +

In [65]:
nicolas_cage = data[data.cast.str.contains('Nicolas Cage', na=False)]
nicolas_cage_top = nicolas_cage['genres'].str.split('|',expand=True).stack().value_counts()
nicolas_cage_top

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

ВАРИАНТ 2

In [66]:
def counter(movie_bd, x):
    """создали функцию для посчета того что нам нужно , где movie_bd = nc_actor, х = genres"""
    info = movie_bd[x].str.split('|', expand=True).stack().value_counts()
    return info

nc_actor = data[data.cast.str.contains("Nicolas Cage")]
nc_genre_top = counter(nc_actor,'genres') 
nc_genre_top

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [67]:
answers ['18'] = '1.K-19: The Widowmaker'
# +

In [68]:
data['production_companies'].unique()

array(['Universal Studios|Amblin Entertainment|Legendary Pictures|Fuji Television Network|Dentsu',
       'Village Roadshow Pictures|Kennedy Miller Productions',
       'Summit Entertainment|Mandeville Films|Red Wagon Entertainment|NeoReel',
       ...,
       "Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|Springwood Productions",
       'Universal Pictures|Capella International|KC Medien AG|Tribeca Productions',
       'Laurence Mark Productions|Columbia Pictures Corporation|Global Entertainment Productions GmbH & Company Medien KG|Nora Ephron Productions'],
      dtype=object)

In [69]:
paramount_pictures = data[data.production_companies.str.contains('Paramount Pictures',na=False)]
lowest_profit = paramount_pictures.sort_values('profit', ascending=True).head(1)['original_title']
lowest_profit

925    K-19: The Widowmaker
Name: original_title, dtype: object

ВАРИАНТ 2

In [70]:
paramounts_fail = data[data['production_companies'].map(lambda x: True if 'Paramount Pictures' in x else False)]
paramounts_fail.groupby(['original_title'])[['profit']].max().sort_values(['profit'],ascending=True)

                                                       profit
original_title
K-19: The Widowmaker                                -64831034
Timeline                                            -60519261
Next                                                -51788987
Alfie                                               -46604061
Twisted                                             -24805000
...                                                       ...
Mission: Impossible - Ghost Protocol                549713380
Transformers                                        559709780
Indiana Jones and the Kingdom of the Crystal Skull  601636033
Transformers: Revenge of the Fallen                 686297228
Transformers: Dark of the Moon                      928746996

[122 rows x 1 columns]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [71]:
answers ['19'] = '5.2015'
# +

In [72]:
grouped_data = data.groupby(["release_year"])['revenue'].sum().sort_values(ascending=False)
grouped_data.head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

ВАРИАНТ 2

In [73]:
max_revenue_year= pd.DataFrame(data.groupby(by = 'release_year') \
                               .revenue.sum()).sort_values('revenue', ascending = False)
display (max_revenue_year)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

# 20. Какой самый прибыльный год для студии Warner Bros?

In [74]:
answers ['20'] = '1.2014'
# +

In [75]:
warner_bros = data[data.production_companies.str.contains('Warner Bros',na=False)]
warner_bros_top_year = warner_bros.groupby(["release_year"])['revenue'] \
                      .sum().sort_values(ascending=False)
warner_bros_top_year.head(1)

release_year
2014    3243064519
Name: revenue, dtype: int64

ВАРИАНТ 2

In [76]:
data[data.production_companies.str.contains('Warner Bros')] \
                                  .groupby('release_year')['profit'] \
                                  .sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

ВАРИАНТ 3

In [78]:
Warner_Bros_win = data[data['production_companies'] \
                 .map(lambda x: True if 'Warner Bros' in x else False)] # Только фильмы Warner Bros
Warner_Bros_win = pd.DataFrame(Warner_Bros_win.groupby(by = 'release_year') \
                 .profit.sum()).sort_values('profit', ascending = False).head() # Создаем датасет по годам и прибыли 
display (Warner_Bros_win)

                  profit
release_year
2014          2295464519
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [79]:
answers ['21'] = '4.September'
# +

In [80]:
# %B название месяца в полном виде

data['release_date'] = pd.to_datetime(data['release_date']) # Перевод строки в дату

top_month = data.groupby(data['release_date'].dt.strftime('%B'))['imdb_id'] \
           .count().sort_values(ascending=False)
top_month

release_date
September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: imdb_id, dtype: int64

    dt. strftime() 
dt. strftime() function is used to convert to Index using specified date_format. The function return an Index of formatted strings specified by date_format, which supports the same string format as the python standard library

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [81]:
answers ['22'] = '2.450'
# +

In [82]:
data['release_date'] = pd.to_datetime(data['release_date']) # Перевод строки в дату

data[data.release_date.dt.month.isin([6, 7, 8, ])]['imdb_id'].count()

450

    dt. month
can be used to access the values of the series as datetime like and return several properties.Pandas Series. dt. month attribute return a numpy array containing the month of the datetime in the underlying data of the given series object.

    isin()
Pandas isin() method is used to filter data frames. isin() method helps in selecting rows with having a particular (or Multiple) value in a particular column.

# 23. Для какого режиссера зима – самое продуктивное время года?

In [83]:
answers ['23'] = '5.Peter Jackson'
# +

In [84]:
data['release_date'] = pd.to_datetime(data['release_date'])

data[data.release_date.dt.month.isin([12, 1, 2, ])]['imdb_id'].count()

435

In [85]:
data['release_date'] = pd.to_datetime(data['release_date'])
release_winter = data[data.release_date.dt.month.isin([12,1,2])]
director_winter = release_winter['director'] \
                 .str.split('|',expand=True).stack().value_counts()

director_winter

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Adam Shankman        4
                    ..
James Gunn           1
Dewey Nicks          1
Jon Turteltaub       1
Alan Parker          1
Seth Rogen           1
Length: 358, dtype: int64

ВАРИАНТ 2

In [86]:
def counter(movie_bd, x):
    """создали функцию для посчета того что нам нужно"""
    info = movie_bd[x].str.split('|', expand=True).stack().value_counts()
    return info

top_director_winter = counter(data,'director') 
data['release_date'] = pd.to_datetime(data['release_date'])

for director in top_director_winter.index:
    top_director_winter[director] = data['release_date'] \
                                    [data.release_date.dt.month.isin([12,1,2])] \
                                    [data['director'].map(lambda x: True if director in x else False)].count()
    
top_director_winter = pd.DataFrame(top_director_winter).sort_values(0,ascending=False) 
            # Создали дата сет по количеству выпущеных фильмов зимой  
    
top_director_winter

                   0
Peter Jackson      7
Steven Soderbergh  6
Clint Eastwood     6
Adam Shankman      4
Nancy Meyers       4
...               ..
Peter Cattaneo     0
Paolo Sorrentino   0
Todd Lincoln       0
Ben Gluck          0
Craig Mazin        0

[997 rows x 1 columns]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [87]:
answers ['24'] = '5.Four By Two Productions'
# +

In [88]:
def counter(movie_bd, x):
    """создали функцию для посчета того что нам нужно"""
    info = movie_bd[x].str.split('|', expand=True).stack().value_counts()
    return info

data['title_words_length'] = data.original_title.map(lambda x: len(x.split(' '))) 
            # Создаем столбец title_words_length, где будет длина названия фильма
max_len_title = counter(data,'production_companies')

for title in max_len_title.index:
    max_len_title[title] = data['title_words_length'] \
                          [data['production_companies'] \
                          .map(lambda x: True if title in x else False)].mean()
    
max_len_title = pd.DataFrame(max_len_title).sort_values(0, ascending=False)

max_len_title

                                                     0
Four By Two Productions                             12
Jim Henson Company, The                             10
Polsky Films                                         9
The Saul Zaentz Company                              9
Dos Corazones                                        9
...                                                 ..
Mango Farms                                          1
8:38 Productions                                     1
Fuji Television Network                              1
Munich Film Partners & Company (MFP) GHS Produc...   1
Castel Film Romania                                  1

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [89]:
answers ['25'] = '3.Midnight Picture Show'
# +

In [90]:
def counter(movie_bd, x):
    """создали функцию для посчета того что нам нужно"""
    info = movie_bd[x].str.split('|', expand=True).stack().value_counts()
    return info

data['overview_length'] = data.overview.map(lambda x: len(x.split(' ')))
words_mean = counter(data,'production_companies')

for words in words_mean.index:
    words_mean[words] = data['overview_length'] \
                        [data['production_companies'].map(lambda x: True if words in x else False)].mean()
    
words_mean = pd.DataFrame(words_mean).sort_values(0, ascending=False)

words_mean

                                                  0
Midnight Picture Show                           175
Heineken Branded Entertainment                  161
Room 9 Entertainment                            161
98 MPH Productions                              159
Brookwell-McNamara Entertainment                156
...                                             ...
TDJ Enterprises / New Dimensions Entertainment   13
Sony Pictures Worldwide Acquisitions (SPWA)      13
Our Stories Films                                13
Motion Picture Corporation of America            11
Empire Pictures                                  11

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [91]:
answers ['26'] = '1.Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [92]:
best_film = data[data['vote_average'] \
                 > data.quantile(0.99, numeric_only=True) \
                 ['vote_average']]['original_title']
               # Получаем значения в заданном квантиле по условию  
best_film

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

ВАРИАНТ 2

In [93]:
data[['original_title','vote_average']] \
        .sort_values('vote_average',ascending = False) \
        .head(int(len(data['vote_average'])*0.01))

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [94]:
answers ['27'] = '5.Daniel Radcliffe Rupert Grint'
# +

In [95]:
from itertools import combinations

actor_list = data.cast.str.split('|').tolist() # Делаем список с актерами
combo_list=[]

for i in actor_list: # Задаем цикл и создаем список с парами
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j))) # в комбинации может быть как А,Б, так и Б,А поэтому используем sorted
        
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']

combo_list.actor_combinations.value_counts().head(10) # Считаем количество пар

Emma Watson Rupert Grint            8
Daniel Radcliffe Emma Watson        8
Daniel Radcliffe Rupert Grint       8
Helena Bonham Carter Johnny Depp    6
Ben Stiller Owen Wilson             6
Robert Pattinson Taylor Lautner     5
Kristen Stewart Taylor Lautner      5
Paul Walker Vin Diesel              5
Hugh Jackman Ian McKellen           5
Adam Sandler Kevin James            5
Name: actor_combinations, dtype: int64

# Submission

In [96]:
# В конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides(tt1298650)',
 '2': '2.Gods and Generals(tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2.110',
 '5': '1.107',
 '6': '5.Avatar(tt0499549)',
 '7': '5.The Lone Ranger(tt1210819)',
 '8': '1.1478',
 '9': '4.The Dark Knight(tt0468569)',
 '10': '5.The Lone Ranger(tt1210819)',
 '11': '3.Drama',
 '12': '1.Drama',
 '13': '5.Peter Jackson',
 '14': '3.Robert Rodriguez',
 '15': '3.Chris Hemsworth',
 '16': '3.Matt Damon',
 '17': '2.Action',
 '18': '1.K-19: The Widowmaker',
 '19': '5.2015',
 '20': '1.2014',
 '21': '4.September',
 '22': '2.450',
 '23': '5.Peter Jackson',
 '24': '5.Four By Two Productions',
 '25': '3.Midnight Picture Show',
 '26': '1.Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5.Daniel Radcliffe Rupert Grint'}

In [97]:
# и убедиться что ни чего не пропустил)
len(answers)

27